*.user
*.filters

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.enc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.ilk
*.idb
*.suo
*.pdb
*.ipch
*.db
*.log
*.iobj
*.ipdb
*.opendb
FluidSimulation-master
Threads
Tmp
ToSend
Debug
Release
Source
SpecialThread
*.vsidx
/Smoke/Smoke/Cuts/1
/Smoke/**/*.bmp
/Smoke/**/*.flt
/Smoke/**/*.bin
/Smoke/**/*.jpeg
/Smoke/**/*.psd
/Smoke/**/*.jpg
/Smoke/**/*.zip
/Smoke/**/*.txt
*/.vs/*
/Doom/Textures/*.psd
/LearnWordsV2/Words.bak
